.Videos {
  height: 100vh;
  width: 100vw;
}
.video_page {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.col_page {
  width: 100vw;
  scroll-snap-align: start;
}
.col_page > a {
  width: 90vw;
}
.col_page > a > img {
  width: 90vw;
  margin: 20px 0;
  border-radius: 20px 0;
  opacity: 0.9;
}
.video1 > h1,
.video2 > h1,
.video3 > h1 {
  position: relative;
  top: 4vh;
  margin-top: 9vh;
  font-size: 2.5rem;
  font-family: "Zen Loop", cursive;
  letter-spacing: 6px;
}
.video1,
.video2,
.video3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video1 > .p_index,
.video2 > .p_index,
.video3 > .p_index {
  height: 40px;
  border: 1px grey solid;
  border-radius: 20px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 15px;
}
